<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CFAMI</title>
  <link rel="shortcut icon" href='../img/cfami.png'  type="image/x-icon">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
  <link href="css/style.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
  <link href="owl.carousel.min.css" rel="stylesheet">
  <link href="owl.theme.default.min.css" rel="stylesheet">
  <!-- Font Awesome JS -->
  <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <!--  -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  

    <!-- Navbar Begins -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <div class="" style="width: 50px; height: 20x;">
          <img src="../img/cfami.png" width="100%">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse Nav" id="navbarNav">
        <ul class="navbar-nav justify-content-end Na">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sermons">Sermons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ministries
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/sadop">SADOP</a>
              <a class="dropdown-item" href="/disom">DISOM</a>
              <a class="dropdown-item" href="/abdgm">ABDGM</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  <!-- Navbar Ends -->

    <br>
    <div class="home-top-img">
      <div class="">
        <h5 class="top-text animate__backInUp"><b class="bt">Christ for Africa</b> Ministries International</h5><br>
      </div>
    </div>

      <!--  -->
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <center><h3 class='animate__backInUp' style="font-size: bolder;">About CFAMI</h3></center><br>
              <p>
                Christ for Africa Ministries(CFAMI) all started in August, 2003 after God gave the General Overseer in person of
                Apostle (Dr) Bukky Olaoluwa David (JP) the mandate of the ministry. Before this mandate was
                given, brethren held vigils and fellowship in various houses and locations after which the first
                programme <a href="/about" class="rd-more bolder">Read more</a>
              </p> 
              
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>

      <div class="apt-background">
        <div class="container">
          <div class="section">
            <div class="row">
              
              <div class="col-sm-8">
                <i class="fa fa-quote-left" aria-hidden="true" style="color:white; font-size:30px;"></i>
                <p style="color: white; font-size: 20px;">
                  APOSTLE (DR) BUKKY OLAOLUWA DAVID JP, the Senior Pastor and founder of Christ For
                  Africa Ministries International. He is a renowned man from God whom God has ordained in this
                  end time to bring back the apostolic mandate into reality. He got married in 2006 November 25th to
                  Rev Dr Mrs Rachael Oyenike David and he's blessed with wonderful children.
                  He has been privileged to minister both home and abroad such as Dubai, Israel, etc
                  Through the help and Grace of God, Apostle Dr Bukky Olaoluwa David (JP) has also established
                  some other body as a subset of Christ for Africa Ministries International which are: Apostle Bukky
                  David Global Ministries, Diamond international school of Ministry, Sons and Daughters of the
                  Prophet, INTERCESSORY PRAYER PLATFORM...the latest assignment which God gave him
                </p>
                <i class="fa fa-quote-right" aria-hidden="true" style="color:white; font-size:30px;"></i><br><br>

                <footer><h5 style="color: white;">Apostle(Dr) Bukky Olaoluwa David(JP)</h5></footer>
              </div><br>

              <div class="col-sm-4">
                <br>
                <div class="" style="width: fit-content;">
                  <img src="../img/apostle1.jpg" width="100%">
                </div><br><br><br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Messages -->
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <center>
                <h2>Recent Messages</h2>
                <p>Download inspiring and life changing messages for free</p>
              </center>
            </div>
            <div class="col-sm-3"></div>
          </div><br>
          <div class="row">
            <% for (var i = 0; i < ser.length; i++  ){ %>
            <div class="col-sm-4">
              <div class="card" style="width: fit-content; height: auto;">
                <img src="<%= ser[i].imgUrl %>" height="150px" class="msg-img">
                <div class="card-body">
                  
                  <h4 class="blog-title"><%= ser[i].title  %></h4>
                  <i class="fa fa-user" aria-hidden="true" style="color:#495057;"></i><span style="color:#495057;"> Preacher: </span><span> <%= ser[i].name %></span><br>
                  <i class="fa fa-tag" aria-hidden="true" style="color:#495057;"></i><span style="color:#495057"> Gene: <%= ser[i].category  %></span><br>
                  <i class="fa fa-calendar" aria-hidden="true">
                    <span class="day"><%= ser[i].date.toString().slice(0,4) %></span>
                    <span class="day"><%= ser[i].date.toString().slice(8,10) %></span>
                    <span class="mos"><%= ser[i].date.toString().slice(4,7) %></span>
                    <span class="yrs"><%= ser[i].date.toString().slice(11,15) %></span>
                  </i><br>
                  
                  <p class="blog-text" style="color: #768495;"><%= ser[i].excerpt %></p>

                  <center>
                    <!-- download button -->
                    <a href="<%= ser[i].fileUrl %>" data-toggle="tooltip">
                      <button class="btn msg-btn">
                        Download <i class="fa fa-download kuki"aria-hidden="true"></i>
                      </button>
                    </a><br><br>

                    <a href="/sermons" data-toggle="tooltip">
                    <button class="btn msg-btn">
                      Get more <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button></a>
                  </center>
                </div>
              </div><br>
            </div>
            <% } %>
            
          </div>
        </div>
      </div>
      <!-- End of Messages -->

      <!-- Church Achviement -->
      <div class="dsg">
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="col-sm-3"></div>
              
              <div class="col-sm-6">
                <center>
                  <h3>Church Achievements</h3>
                  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sint culpa explicabo cumque. </p> -->
              </center>
              </div>
            
              <div class="col-sm-3"></div>
            </div>

            <div class="row">
              <div class="col-sm-4 shadow-sm p-3 mb-5 bg-white rounded justify-content center">
                <center>
                  <div id="shiva"><span class="count" style="color: #232E4D;">10</span></div>
                  <h4>Churches around the globe</h4>
                </center>
              </div><br>
              <div class="col-sm-4 shadow-sm p-3 mb-5 bg-white rounded">
                <center>
                  <div id="shiva"><span class="count" style="color: #232E4D;">250</span></div>
                  <h4>Members around the globe</h4>
                </center>
              </div><br>

              <div class="col-sm-4 shadow-sm p-3 mb-5 bg-white rounded">
                
                <center>
                  <div id="shiva"><span class="count" style="color: #232E4D;">200</span></div>
                  <h4>Sons & Daughters around the globe</h4>
                </center>
                
              </div><br>

            </div>
          </div>
        </div>
      </div>

      <!-- Upcoming events -->
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <center>
                <h2>Up Coming Events</h2>
                <p>Stay tuned for our upcoming events. </p>
              </center>
            </div>
            <div class="col-sm-3"></div>

          </div><br>

          <div class="row">
            <% for (var i = 0; i < event.length; i++  ){ %>
              <div class="col-sm-4">
                  <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="<%= event[i].imgUrl %>" width="100%" height="280px" alt="Card image cap">
                    <div class="card-body">
                       <h5 class="blog-title"><%= event[i].title  %></h5>
                          <i class="fa fa-calendar" aria-hidden="true">
                              <span class="day"><%= event[i].date.toString().slice(0,4) %></span>
                              <span class="day"><%= event[i].date.toString().slice(8,10) %></span>
                              <span class="mos"><%= event[i].date.toString().slice(4,7) %></span>
                              <span class="yrs"><%= event[i].date.toString().slice(11,15) %></span>
                          </i><br>
                          <i class="fa fa-map-marker" aria-hidden="true" style="color:#495057;"></i><span class="bolder" style="color:#495057;"> Location: <%= event[i].venue %></span><br>
                          <p class="blog-text" style="color: #768495;"><%= event[i].excerpt %></p>
                          <center>
                            <a href="/events" data-toggle="tooltip">
                            <button class="btn msg-btn">
                              Get more <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button></a>
                          </center>
                    </div>
                  </div>
               </div>

             <% } %>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- video & Gallery -->
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <center>
                <h2>Videos & Gallery</h2>
                <p>Watch our facebook live stream session</p>
              </center>
            </div>
            <div class="col-sm-3"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <center>
              <% for (var i = 0; i < link.length; i++  ){ %>
                <!-- Load Facebook SDK for JavaScript -->
                <div id="fb-root"></div>
                <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

                <!-- Your embedded video player code -->
                <div class="fb-video" data-href="<%= link[i].link %>" data-width=100% data-show-text="false">
                  <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/facebook/videos/10153231379946729/">
                      <a href="https://www.facebook.com/facebook/videos/10153231379946729/">How to Share With Just Friends</a>
                      <p>How to share with just friends.</p>
                      Posted by <a href="https://www.facebook.com/facebook/">CFAMI</a>
                    </blockquote>
                  </div>
                </div>
                  
               <% } %> 
              </center>
                
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
      <!-- gallery begins -->
      <div class="wrapper">
        <div class="carousel-gallery owl-carousel owl-theme">
          <% for (var i = 0; i < gallery.length; i++  ){ %>
         
            <div class="item">
              <img class="d-block w-100  gal" src="<%= gallery[i].imgUrl %>" width="100%"> 
          
          </div>
          <% } %>       
        </div>
      <!-- end of video & gallery -->

      <!-- blogs -->
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <center>
                <h3>Recent Blogs</h3><br>
                <!-- <p>Read write up ins</p><br> -->
              </center>
            </div>
            <div class="col-sm-3"></div>
          </div>

          <div class="row " >
                <% for (var i = 0; i < blog.length; i++  ){ %>
                    <div class="col-sm-4 justify-content-center d-flex">
                        <div class="">
                          
                          <a href="<%= blog[i]. _id %>" class='blog-a' style="text-decoration: none">
                            <img src="<%= blog[i].imgUrl %>" height="150px" class="msg-img">
                
                            <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                              <i class="fa fa-calendar" style="color: #495057;">
                                <span class="day"><%= blog[i].date.toString().slice(0,4) %></span>
                                <span class="day"><%= blog[i].date.toString().slice(8,10) %></span>
                                <span class="mos"><%= blog[i].date.toString().slice(4,7) %></span>
                                <span class="yrs"><%= blog[i].date.toString().slice(11,15) %></span>
                              </i><br><br>
                              <h5 class="blog-title" style="color: #495057;"><%= blog[i].title  %></h5>
                              <p class="blog-text" style="color: #768495;"><%= blog[i].excerpt %></p>
                              
                              <center>
                                <!-- <a href="/blog" data-toggle="tooltip">
                                <button class="btn btn-primary msg-btn">
                                  Get more <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                </a> -->
                              </center>
                            </div>
                          </a>
                          
                        </div>
                      </div>
                <% } %>
            </div>
        </div>
      </div>
      <!-- end of blog -->

      <div class="bg">
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="col-sm-4">
                <div class="" style="width: 80px; height: 20x;">
                  <center>
                    <img src="../img/cfami.png" width="100%"><br>
                  </center>
                  
                </div>
                <p class="p1" style="font-size: 20px;">
                  Connect with us via our social media platforms.
                  
                </p>
                <!-- <i class="fab fa-facebook"></i> -->
                <!--twitter-->
                <a href="http://www.twitter.com/cfamihq"><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
                <!--Google-->
                <a href="https://chat.whatsapp.com/B51WD7mwJD0Cb3gAgia01K"><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
                <!--Facebook-->
                <a href="https://web.facebook.com/cfamihq?_rdc=1&_rdr"><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
                <!--Instagram-->
                <a href="https://www.instagram.com/cfamihq/" target="_blank" rel="noopener noreferrer"><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
                <!--Youtube-->
                <a href="https://www.youtube.com/channel/UCJwyQhwZole8VGCoAf7KQFA"><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>
                  </div><br>

              <div class="col-sm-2">
                <h4 class="p1">Quick Links</h4><br><br>
                <span class="p2 a_link"><a href="/about" class="p2"> About us</a></span><br><br>
                <span class="p2 a_link"><a href="/contact" class="p2"> Contact us</a></span><br><br>
                <span class="p2 a_link"><a href="/sermons" class="p2"> Sermons</a></span><br><br>
                <span class="p2 a_link"><a href="/events" class="p2"> Events</a></span><br><br>
                <span class="p2 a_link"><a href="/blogs" class="p2"> Blogs</a></span><br><br>
              </div><br>

              <div class="col-sm-3">
                <h4 class="p1">Contact Information</h4><br><br>
                <span class="p1"><i class="fa fa-map-marker " aria-hidden="true"></i> Christ for Africa Ministries International Solution City, Olude Osogbo, Osun state, Nigeria</span><br><br>
                <span class="p2 a_link"><a href="callto:08038478080" class="p2"><i class="fa fa-phone" aria-hidden="true"></i>   +234 8038478080</a></span><br><br>
              </div><br>

              <div class="col-sm-3">
                <h3 class="text-center bolder p1">NEWSLETTER</h3>
                <p class="text-center p1">Subcribe to our news letter to get updated about new events</p>
                
                <form action="" method="">
                  <div class="form-group" >
                    <input type="email" class="form-control sub-newsletter" width="15px;" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address" required>
                  </div>
                  <center><button class="btn btn-primar sub-btn bolder" style="width:70%;">Subcribe</button></center>
                </form>
              </div><br>
            </div>
          </div>
        </div>
      </div>

      
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="Js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="Js/main.js" ></script>
</body>
</html>