<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sons & Daughters of the Prophet</title>
  <link rel="shortcut icon" href='../img/cfami.png'  type="image/x-icon">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
  <link href="css/style.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
  <link href="owl.carousel.min.css" rel="stylesheet">
  <link href="owl.theme.default.min.css" rel="stylesheet">
  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Navbar Begins -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <div class="" style="width: 50px; height: 17x;">
        <img src="../img/sadop.jpeg" width="100%">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-end Nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sermons">Sermons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ministries
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sadop">SADOP</a>
            <a class="dropdown-item" href="/disom">DISOM</a>
            <a class="dropdown-item" href="/abdgm">ABDGM</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- Navbar Ends -->

  <div class="sadop-bg">
    <h2 class="top-text">Sons & Daughters of the Prophet</h2><br>
  </div>

  <div class="container">
    <div class="row section">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h3 class="text-center">About SADOP</h3>
        <p>
          Sons and daughters of the Prophet(SADOP) simply means the spiritual sons and daughters of our father Apostle Dr Bukky Olaoluwa David (JP).
          It is a ministry under the leadership of our Father Apostle Dr Bukky Olaoluwa David (JP). This is a body that comprises  
          youths and adults from different denominations under the umbrella of the Grace of our Father. Since SADOP started, she has been
          holding different programmes. This is a programme we hold at least twice in a year which has blessed many souls. Varing testimonies 
          has emerge during and after the course of these programmes.
          
        </p>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <div class="apt-background">
    <div class="container">
      <div class="section">
        <div class="row">
          
          <div class="col-sm-8">
            <i class="fa fa-quote-left" aria-hidden="true" style="color:white; font-size:30px;"></i>
            <p style="color: white; font-size: 20px;">
              Sons and Daughters of the Prophet (SADOP) is a ministry which started early 2018 with the call
              to Raise End Time Generals for Christ, to bring back the Apostolic Act into reality. This is a body
              comprising Godly youths and adults including men and women. In time past the ministry has held different
              programs such as <b>Word changer, The Elijah of God, The mighty rushing wind, From nation to nation</b>
              many to mention but a few and we give all glory to God because there as been powerful testimonies during and after
              the course of these programmes. Your testimony will surely be the next in line, register for the upcoming programme, pray, prepare
              to meet with God and plan to attend as the Lord will be ministering to your life.
              God Bless you

            </p>
            <i class="fa fa-quote-right" aria-hidden="true" style="color:white; font-size:30px;"></i><br><br>

            <footer><h5 style="color: white;">Apostle(Dr.) Bukky Olaoluwa David (JP)</h5></footer>
          </div><br>

          <div class="col-sm-4">
            <br>
            <div class="" style="width: fit-content;">
              <img src="../img/apostle1.jpg" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h3 class='text-center'>Upcoming SADOP Program</h3><br>
        </div>
        <div class="col-sm-2"></div>

      </div>

      <div class="row">
        <!-- <div class="col-sm-"></div> -->
        <% for (var i = 0; i < sadopProgram.length; i++  ){ %>
          <div class="col-sm-6">
            <img src="<%= sadopProgram[i].imgUrl  %>" width="100%" alt="event img"><br><br>
            
          </div>
        <% } %>
        
      <!-- <div class="col-sm-2"></div> -->
      </div>
      <center>
        <!-- <p>For more enquire call</p> -->
        <p><b>Click on the button below to register </b></p>
        <% for (var i = 0; i < RegLink.length; i++  ){ %>
          <a style="text-decoration: none" href="<%= RegLink[i].link  %>">
            <button class="btn reg-btn">
              Register <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </a>
        <% } %>
      </center>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <!-- Sadop testimony begins -->
      <h3 class="text-center">Testimonies</h3><br>
      <div class="wrapper">  
        <div class="Testimony owl-carousel owl-theme">
            <% for (var i = 0; i < sadopTestimony.length; i++  ){ %>
              <center>
                <div class="item">
                  <div class="" >
                    <img class="test-img" src="<%= sadopTestimony[i].imgUrl  %>" style="width: 50%; border-radius: 100%;"> <br>
                  </div>
                <h3 class="text-center"><%= sadopTestimony[i].name  %></h3>
                <p class='text-center'>
                  <%- sadopTestimony[i].editor1  %>
                </p>
                </div>
                
              </center>
            <% } %>
        </div>
      </div>
      <!-- end of sadop testimony & gallery -->
    </div>
  </div>
  </div>

  <div class="bg">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col-sm-4">
            <div class="" style="width: 80px; height: 20x;">
              <center>
                <img src="../img/cfami.png" width="100%"><br>
              </center>
              
            </div>
            <p class="p1" style="font-size: 20px;">
              Connect with us via our social media platforms.
              
            </p>
            <!-- <i class="fab fa-facebook"></i> -->
            <!--twitter-->
            <a href="http://www.twitter.com/cfamihq"><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
            <!--Google-->
            <a href="https://chat.whatsapp.com/B51WD7mwJD0Cb3gAgia01K"><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
            <!--Google-->
            <a href="https://web.facebook.com/Christforafricaministries/live/"><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
            <!--Google-->
            <a href="https://instagram.com/christforafricaministries" target="_blank" rel="noopener noreferrer"><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
            <!--Youtube-->
            <a href="https://www.youtube.com/channel/UCJwyQhwZole8VGCoAf7KQFA"><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>
              </div><br>

          <div class="col-sm-2">
            <h4 class="p1">Quick Links</h4><br><br>
            <span class="p2 a_link"><a href="/about" class="p2"> About us</a></span><br><br>
            <span class="p2 a_link"><a href="/contact" class="p2"> Contact us</a></span><br><br>
            <span class="p2 a_link"><a href="/sermons" class="p2"> Sermons</a></span><br><br>
            <span class="p2 a_link"><a href="/events" class="p2"> Events</a></span><br><br>
            <span class="p2 a_link"><a href="/blogs" class="p2"> Blogs</a></span><br><br>
          </div><br>

          <div class="col-sm-3">
            <h4 class="p1">Contact Information</h4><br><br>
            <span class="p1"><i class="fa fa-map-marker " aria-hidden="true"></i> Christ for Africa Ministries International Solution City, Olude Osogbo, Osun state, Nigeria</span><br><br>
            <span class="p2 a_link"><a href="callto:08038478080" class="p2"><i class="fa fa-phone" aria-hidden="true"></i>   +234 8038478080</a></span><br><br>
          </div><br>

          <div class="col-sm-3">
            <h3 class="text-center bolder p1">NEWSLETTER</h3>
            <p class="text-center p1">Subcribe to our news letter to get updated about new events</p>
            
            <form action="" method="">
              <div class="form-group" >
                <input type="email" class="form-control sub-newsletter" width="15px;" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address" required>
              </div>
              <center><button class="btn sub-btn bolder" style="width:70%;">Subcribe</button></center>
            </form>
          </div><br>
        </div>
      </div>
    </div>
  </div>
    

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="Js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="Js/main.js" ></script>
</body>
</html>