<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CFAMI</title>
    <link rel="shortcut icon" href='../img/DOPIC LOGO1.png'  type="image/x-icon">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/design.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!--  -->
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <div class="" style="width: 50px; height: 20x;">
                    <img src="../img/DOPIC LOGO1.png" width="100%">
                </div>
            </div>

            <ul class="list-unstyled components">
                <p>NAVIGATION</p>
                <li class="active">
                    <a href="/auth/profile" aria-expanded="false" class=""><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a>
                    
                </li>
                <li>
                    
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="far fa-place-of-worship"></i> Ministries</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/UploadSadopInfo"><i class="fas fa-users-crown"></i></i> SADOP</a>
                        </li>
                        <li>
                            <!-- <a href="/UploadAbdgm"><i class="fas fa-sax-hot"></i> ABDGM</a> -->
                        </li>
                        <li>
                            <a href="/UploadDisom"><i class="fal fa-school"></i> DISOM</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/UploadBgs" aria-expanded="false" class=""><i class="fa fa-paper-plane" aria-hidden="true"></i> Blogs</a>
                    
                </li>
                <li> 
                    <a href="/UploadEvts" class=""><i class="fa fa-calendar" aria-hidden="true"></i> Upcoming Events</a>
                    
                </li>

                <li>
                    
                    <a href="/UploadPst"><i class="fas fa-user-tie"></i> Pastors</a>

                    <a href="/UploadSermon"><i class="fas fa-comment-alt-music"></i> Messages</a>
                    
                </li>

                <li>
                    <a href="/UploadGal"><i class="fab fa-envira"></i> Gallery</a>
                </li>

            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li>
                                <a href="/auth/signout">
                                    <button class="btn btn-danger">Sign Out  <i class="far fa-sign-out-alt" aria-hidden="true"></i></button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add new graduate
                    </button><br><br>
                
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add new Images</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/admin/post-disom" method="post" enctype="multipart/form-data">
                                
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Upload the Image file (png,jpg & jpeg)</label>
                                        <input type="file" multiple accept="image/*" name="imgUrl" class="form-control-file" id="exampleFormControlFile1" required>
                                    </div>

                                    <textarea name="editor1"></textarea>
                                    <script>
                                            CKEDITOR.replace( 'editor1' );
                                    </script>
    
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
    
                </div>
    
                <div class="row">
                    <% for (var i = 0; i < disom.length; i++  ){ %>
                    <div class="col-sm-4">
                        
                        <center>
                            <img src="<%= disom[i].imgUrl %>" class='test-img' >
                            <p class="text-center">
                                <%- disom[i].editor1 %>
                            </p>
                        </center>
                            
                            <button  data-toggle="modal" data-target="#popup<%= i + disom.length %>" class="btn btn-danger float-right" style="font-size:14px;padding:5px 25px">Delete</button>
                        
                    </div>
    
                    <div class="modal fade" id="popup<%= i+ disom.length  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitles" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content" style="padding:5%">
                            <h4 style="font-weight:bold; text-align:center">Do you want to Delete this post ?</h4><br>
                           <center> 
                                <form action="/admin/disomDelete/<%= disom[i].id %>" method="post">
                                    <input type="hidden">
                                    <button type="button" style="padding:10px 30px;" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <button class="btn btn-danger"  style="padding:10px 30px;" type="submit">Yes</button>  
                                </form>
                          </center>
                          </div>
                        </div>
                    </div>
                    
                    <% } %>
                </div>
            </div>

            
            <!-- <div class="line"></div> -->

            
        </div>
    </div>

    <div class="overlay"></div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>